In [21]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split

df=pd.read_csv('credit_risk.csv')
df.head()

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1

In [22]:
df= df.drop(columns='clientid')
df.head()
print(df.info())
print(df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   income   2000 non-null   float64
 1   age      1997 non-null   float64
 2   loan     2000 non-null   float64
 3   default  2000 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 62.6 KB
None
income     0
age        3
loan       0
default    0
dtype: int64

In [23]:
df = df.dropna()
df.isna().sum()

income     0
age        0
loan       0
default    0
dtype: int64

In [24]:
X = df[['income','age','loan']]
y = df['default']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3)

clf = svm.SVC(kernel='linear')

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = clf.score(X_test,y_test)
print("Akurasi model:", accuracy)

Akurasi model: 0.9333333333333333

In [58]:
new_data = [[13500, 20, 400]]

prediction = clf.predict(new_data)

if prediction[0] == 1:
  print("Individu ini memiliki risiko tinggi terhadap default kredit.")
else:
  print("Individu ini memiliki risiko rendah terhadap default kredit.")

Individu ini memiliki risiko rendah terhadap default kredit.

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(